sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
nbsphinx
ipykernel
pandoc
pyFAI>=2025.01
numpy
h5py
xdesign
scikit-image
scipy
tqdm
matplotlib
fabio
silx
scikit-learn
pyopencl
pillow
tifffile
mayavi
napari
pystackreg
algotom
xdesign
siphash24
setuptools
wheel