sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
nbsphinx
ipykernel
pandoc
numpy
h5py
xdesign
scikit-image
scipy
tqdm
matplotlib
fabio
pyfai
silx
scikit-learn
pyopencl
pillow
tifffile
mayavi
napari
pystackreg
algotom
xdesign