sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
nbsphinx
ipykernel
pandoc
numpy
h5py
xdesign
scikit-image
scipy
tqdm
matplotlib
fabio
pyfai==0.19
silx
scikit-learn
pyopencl
pillow
tifffile
mayavi
napari
pystackreg
algotom
xdesign
setuptools<60.0  # Prevent issues with numpy.distutils
wheel