alabaster==0.7.16
algotom==1.6.0
annotated-types==0.7.0
anyio==4.9.0
app-model==0.3.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astra-toolbox==2.3.1
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
bleach==6.2.0
build==1.2.2.post1
cached-property==2.0.1
cachey==0.2.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
configobj==5.0.9
contourpy==1.3.0
cycler==0.12.1
dask==2024.8.0
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
docstring_parser==0.16
docutils==0.21.2
exceptiongroup==1.3.0
executing==2.2.0
fabio==2024.9.0
fastjsonschema==2.21.1
filelock==3.13.1
flexcache==0.3
flexparser==0.4
fonttools==4.58.0
fqdn==1.5.1
freetype-py==2.5.1
fsspec==2025.3.2
h11==0.16.0
h5py==3.13.0
hdf5plugin==5.1.0
HeapDict==1.0.1
hsluv==5.0.4
httpcore==1.0.9
httpx==0.28.1
idna==3.10
imageio==2.37.0
imagesize==1.4.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
in-n-out==0.2.1
ipykernel==6.29.5
ipympl==0.9.7
ipython==8.18.1
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.0
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.7
lazy_loader==0.4
llvmlite==0.43.0
locket==1.0.0
lxml==5.4.0
magicgui==0.10.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath==1.3.0
napari==0.5.6
napari-console==0.1.3
napari-plugin-engine==0.2.0
napari-svg==0.2.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
# Editable install with no version control (nDTomo==2024.2)
nest-asyncio==1.6.0
networkx==3.2.1
notebook_shim==0.2.4
npe2==0.7.8
numba==0.60.0
numexpr==2.10.2
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp39-cp39-win_amd64.whl#sha256=f284633067fde4bb078a09085a1c9e99a3218c129f5312b7b3d76c9340442a25
numpydoc==1.8.0
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
pillow==11.2.1
Pint==0.24.4
platformdirs==4.3.8
pooch==1.8.2
prometheus_client==0.22.0
prompt_toolkit==3.0.51
psutil==7.0.0
psygnal==0.13.0
pure_eval==0.2.3
pyconify==0.2.1
pycparser==2.22
pydantic==2.11.4
pydantic-compat==0.1.2
pydantic_core==2.33.2
pyFAI==2025.3.0
Pygments==2.19.1
PyOpenGL==3.1.9
pyparsing==3.2.3
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyqtgraph==0.13.7
pystackreg==0.2.8
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
pytz==2025.2
PyWavelets==1.6.0
pywin32==310
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.4.0
qtconsole==5.6.1
QtPy==2.4.3
referencing==0.36.2
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.25.0
scikit-image==0.24.0
scikit-learn==1.6.1
scipy @ file:///C:/Users/dev-admin/cr_scipy-feedstock/scipy_1733774324044/work/dist/scipy-1.13.1-cp39-cp39-win_amd64.whl#sha256=f7218697f964ae4372cdcb6f20a05db0d338ccc574c96e9dbf235ed6547dd462
Send2Trash==1.8.3
shellingham==1.5.4
silx==2.2.2
siphash24==1.7
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.7
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
superqt==0.7.3
sympy==1.13.3
tabulate==0.9.0
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2024.8.30
tinycss2==1.4.0
tomli==2.2.1
tomli_w==1.2.0
toolz==1.0.0
torch==2.7.0+cu118
torchaudio==2.7.0+cu118
torchvision==0.22.0+cu118
tornado==6.5
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.4
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
uri-template==1.3.0
urllib3==2.4.0
vispy==0.14.3
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.14
wrapt==1.17.2
xdesign==0.5.5
zipp==3.21.0
